@import url(//db.onlinewebfonts.com/c/2f5e4871e3cce30660abca1ce6743e73?family=Calfine+DEMO);
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden !important;
}
.hero-text {
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #1e1e1e;
}
@keyframes marquee {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .animation-marquee {
    white-space: nowrap;
    animation: marquee 1000s linear infinite;
  }
  .lists h3 {
    font-size: large;
    font-weight: 600;
    margin-block-end: 0.9em;
  }
  .lists p {
    opacity: 77%;
    font-size: 14px;
    margin-block-end: 0.75em;
  }